<section data-ng-controller="HomeController">
    <div class="row"> <!-- main row -->
        <div class="col-sm-6" ng-repeat="alert in alerts"> <!-- col 1-->
         <!-- row 1 -->
            <div class="row">
                <div class="col-xs-4">
                  <h1 class="pull-right"> <!--pulls icons closer to text -->
                    <button type="button" class="alert.color">
                    <i class="glyphicon" ng-class="alert.icon"></i>
                    </button>
                  </h1>
                </div>
            <div class="col-xs-8">
                <h1>{{alert.total}}</h1>
            </div>
        </div>

            <div class="row">
                <div class="col-xs-8 col-xs-offset-4">
                   <span class="text-muted"> {{alert.description}}</span>
                </div>
            </div>
        </div>

   </div>
</section>

